<!DOCTYPE html>
<html>
<head>
  <title>ROT13 Cipher</title>
  <meta charset='utf-8'>

  <style>
    body {
      height: 100vh;
      background-image: url("http://i.imgur.com/NmV5FLr.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
    }

    form {
      display: block;
      width: 600px;
      height: 400px;
      margin: 0 auto;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      background-image: url("http://i.imgur.com/MnLIjBg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
    }

    h1, h2 {
      display: block;
      padding-top: 20px;
      text-align: center;
      color: white;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      box-sizing: border-box;
    }

    textarea {
      display: block;
      width: 400px;
      height: 200px;
      margin: 20px auto;
      font-size: 16px;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      box-sizing: border-box;
    }

    button[type='submit'] {
      display: block;
      width: 100px;
      height: 40px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
    <h1>ROT13</h1>

    {% block content %}
    {% endblock %}
    
  </body>

</html>
