{% extends 'base.html' %}

{% block content %}

<form method='post'>
  <h2>Enter some text to ROT13:</h2>
  <textarea type='text' name='text' placeholder='Enter text here...' value=''>{{converted_input}}</textarea>
  <br>
  <button type='submit'>Encrypt</button>
</form>

{% endblock %}
